.header {
	text-align: center;
}

.main__buttons {
	display: flex;
	justify-content: center;
}

.btn {
	margin-left: 5px;
}

.btn:first-child {
	margin-left: 65px;
}

.main__sections {
	display: flex;
	justify-content: center;
	height: 400px;
	margin-top: 10px;
}

.section {
	width: 45%;
}

.section__textarea {
	width: 95%;
	height: 100%;
	white-space: pre;
}

.textarea-title {
	text-align: center;
}
